---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
     {% if post.visible %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        
    <h3 class="h1 post-title">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        {{ post.title }}
      </a>
    </h3>
        <p class="post-summary">
{{ post.content | strip_html | truncatewords:50}} <a href="{{ post.url }}">Read more...</a>
        </p>
      </div>
     {% endif %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
