---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
     {% if post.visible %}
      <div class="post">
        
    <h3 class="h2 post-title">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        {{ post.title }}
      </a>
    </h3>
        <p class="post-summary">
        <span class="post-meta">{{ post.date | date: site.date_format }}&nbsp;({{ post.author }}).&nbsp;&nbsp;</span>
{{ post.content | strip_html | truncatewords:20}} <a href="{{ post.url }}">Continue</a>
        </p>
      </div>
     {% endif %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
